.img
{
    width: 1675px;
    height: 180px;
    opacity: 5;
}

.im
{
    filter: brightness(80%);
    width: 1675px;
    height: 500px;
}

p
{
    font-size: 60px;
    text-align: center;
    font-family:helvetica;
    padding: 10px;
}

.caja1
{
    border: 3px solid red;
    box-shadow: 30px 10px 20px #aaa;
    border-radius: 20px;
    height: 368px;
    margin: 50px;
    padding: 5px;
    width: 392px;
    float: left;
}

.caja2
{
    border: 3px solid red;
    box-shadow: 30px 10px 20px #aaa;
    border-radius: 20px;
    height: 368px;
    margin: 50px;
    padding: 5px;
    width: 392px;
    float: left;
}

#a
{
    color: white;
    border: 3px solid red;
    box-shadow: 30px 10px 20px #aaa;
    border-radius: 10px;
    background-color: red;
    padding: 10px;

}